<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5" />
      <httpCookies httpOnlyCookies="true" />

    </system.web>
    <system.webServer>
    <httpProtocol>
        <customHeaders>
          <clear />
          <!--Se agrega configuracion para evitar que las paginas se renderisen como IE7 o menos si el navegador es IE8 o superior-->
          <add name="X-Xss-Protection" value="1; mode=block" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <rules>
          <rule name="AngularJS" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>